<!-- About Crd -->
<div class="card" id="about">
    <h1 class="mb-5">About Our Company</h1>
    <p class="mb-3">Welcome to one of the greatest social quiz games in the galaxy. SanQuiz is available on iOS, Android, Facebook, and every modern browser. It is fast-paced, free and even more fun than zero gravity!</p>
    <div class="social-icons" class="mt-3">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-google"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <!-- about card end -->