<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login_Upload</title>
</head>
<body>
  <h4>Admin Login:</h4>

  <form action="/loginSubmit" method="post">
    <div class="row g-3 result-card">
        <div class="col-12">
          <label for="user" class="form-label">Admin:</label>
          <input type="text" class="form-control" name="name" id="name"  required />
        </div>
        <div class="col-12">
            <label for="password" class="form-label">Admin password:</label>
            <input type="password" class="form-control" name="password" id="password" required />
          </div>
          
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
  
  </form>

</body>
</html>
