<div class="px-4 my-2 text-center">
  <h1 class="display-5 fw-bold">Submit Your Questions</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Share your simple Questions with thousands of our developers across the World, Fill our Form</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <form action="/submit-ques" enctype="multipart/form-data" method="post">

      <div class="col-12">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" name="name" id="name" required />
      </div>
      <br/>
      <div class="col-12 ">
        <label for="question" class="form-label">Question:</label>
        <input type="text" class="form-control" name="question" id="question" required />
      </div>
      <br/>
      <div class="col-12">
        <label for="file" class="form-label">Upload Code (Code file):</label>
        <input type="file" class="form-control" name="code" id="file" />
      </div>
      <br/>  
      <div class="col-12">
        <label for="file" class="form-label">Upload Video (MP4):</label>
        <input type="file" class="form-control" name="video" id="file" accept=".mp4" />
      </div>
      <br/>
      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
</div>
